# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.venv

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs & Debugging files
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python package-related files
dist/
build/
*.egg-info/
